*{
    margin: 0;
    padding: 0;
}
html, body{
    height: 100%;
    margin: 0;
}


/*Error page : Sajidur*/
.error_div{
    background-color: #2B2B2B;
    color: white;
    text-align: center;
    height: 100%;
    padding-top:200px; 
}
.error_div h1{
    font-size: 125px;
}
.error_div h2{
    font-size: 25px;
}
.error_div a{
    color: white;
    text-decoration: none;
    font-size: 15px;
    padding:8px 30px;
    background-color:#F2762E;
    border-radius: 50px; 
    font-weight: bold;
    position: relative;
    top: 20px;
    transition: 300ms;
}
.error_div a:hover{
    text-decoration: none;
    padding:8px 40px;
}
/*Error page finished*/

/*Form : Sajidur*/
.form-main{
    height: 100%;
    background-color: #2B2B2B;
    padding-top: 50px;
}
.form-main h2{
    color:#fff;
}
.form-main input{
    width: 100%;
    color:white;
    background-color: #2B2B2B;
    border:none;
    border-bottom:2px solid #F2762E;
    padding: 10px 15px;
    margin: 5px 0;
    transition: 300ms;
}
.form-main input:focus{
    width:96%;
    margin-left:2%;
}
.form-main button{
    color:#fff;
    background-color: #F2762E;
    border:none;
    border-radius: 2px;
    padding: 5px 15px;
    cursor: pointer;
    margin: 20px 0 0 0;
}
.form-main button:hover{
    background-color:#f38c51;
}

.form-main-def > h1 {
    color: #F2762E;
}
.form-main-def p{
    color: #fff;
}

<<<<<<< HEAD
/*Form finished*/

=======
/*Drop-down js: Sajidur        -------------------------------------------------------*/
.custom-select {
    position: relative;
    font-family: Arial;
  }
  
  .custom-select select {
    display: none; /*hide original SELECT element:*/
  }
  
  .select-selected {
    background-color: DodgerBlue;
  }
  
  /*style the arrow inside the select element:*/
  .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }
  
  /*point the arrow upwards when the select box is open (active):*/
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
  }
  
  /*style the items (options), including the selected item:*/
  .select-items div,.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
  }
  
  /*style items (options):*/
  .select-items {
    position: absolute;
    background-color: DodgerBlue;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  
  /*hide the items when the select box is closed:*/
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }
/*Drop down finished*/

/*Form finished*/
>>>>>>> 3f67602800e9f523555123acc2c70d996be5dcc9
