*{
    margin: 0;
    padding: 0;
}
html, body{
    height: 100%;
    margin: 0;
}


/*Error page : Sajidur*/
.error_div{
    background-color: #2B2B2B;
    color: white;
    text-align: center;
    height: 100%;
    padding-top:200px; 
}
.error_div h1{
    font-size: 125px;
}
.error_div h2{
    font-size: 25px;
}
.error_div a{
    color: white;
    text-decoration: none;
    font-size: 15px;
    padding:8px 30px;
    background-color:#F2762E;
    border-radius: 50px; 
    font-weight: bold;
    position: relative;
    top: 20px;
    transition: 300ms;
}
.error_div a:hover{
    text-decoration: none;
    padding:8px 40px;
}
/*Error page finished*/

/*Form : Sajidur*/
.form-main{
    height: 100%;
    background-color: #2B2B2B;
    padding-top: 50px;
}
.form-main h2{
    color:#fff;
}
.form-main input{
    width: 100%;
    color:white;
    background-color: #2B2B2B;
    border:none;
    border-bottom:2px solid #F2762E;
    padding: 10px 15px;
    margin: 5px 0;
    transition: 300ms;
}
.form-main input:focus{
    width:96%;
    margin-left:2%;
}

/*half input*/
.form-main input.half-input-left{
    width:48%;
    margin-right:2%;
}
.form-main input.half-input-right{
    width:47%;
    margin-left:2%;
}
.form-main .half-input-left:focus{
    width:46%;
    margin-right:2%;
}
.form-main .half-input-right:focus{
    width:43%;
    margin-left:2%;
}
.form-main button{
    color:#fff;
    background-color: #F2762E;
    border:none;
    border-radius: 2px;
    padding: 5px 15px;
    cursor: pointer;
    margin: 20px 0 0 0;
}
.form-main button:hover{
    background-color:#f38c51;
}

.form-main-def > h1 {
    color: #F2762E;
}
.form-main-def p{
    color: #fff;
}


/*Form finished*/
